@page
@using Cupcakes.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Cupcakes</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cupcake cupcake in Model.cupcakes)
        {
            <tr>
                <td>@cupcake.Name</td>
            </tr>
        }
</table>