@page
@using Cupcakes.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Junxiao's Cupcakes</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cupcake cupcake in Model.cupcakes)
        {
            <tr>
                <td>thumbnail</td>
                <td>@cupcake.Name</td>
                <td>@cupcake.Description</td>
                <td>@cupcake.Price</td>
            </tr>
        }
</table>